<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="ss.hotel.domain.AddService" />
		<mapping class="ss.hotel.domain.AddServiceHistory" />
		<mapping class="ss.hotel.domain.User" />
		<mapping class="ss.hotel.domain.HotelOrder" />
		<mapping class="ss.hotel.domain.Person" />
		<mapping class="ss.hotel.domain.Role" />
		<mapping class="ss.hotel.domain.Room" />
		<mapping class="ss.hotel.domain.RoomType" />
	</session-factory>
</hibernate-configuration>